    body {
    background-color: #f9e6ff; /* Fondo suave y femenino */
      	    font-family: 'Georgia', serif;
      	    margin: 0;
      	    padding: 20px;
    	    }

    	    h1 {
      	    color: #d633ff; /* Color morado vibrante */
      	    font-size: 2.5em;
      	    text-align: center;
      	    text-transform: uppercase;
      	    margin-bottom: 10px;
    	    }

  	    h2 {
   	   color: #ff66b3; /* Color rosa pastel */
 	   font-size: 1.8em;
   text-align: center;
  	   margin-top: 0;
    	   }

         	   p {
       	   font-size: 18px;
      	   color: #4d004d; /* Color morado oscuro */
      	   text-align: justify;

      line-height: 1.6;
      max-width: 600px;
      margin: 20px auto;
    }

    .destacado {
      font-weight: bold;
      color: #ff3399; /* Color rosa fuerte */
    }

    .boton {
      display: block;
      width: 200px;
      margin: 20px auto;
      padding: 10px;
      background-color: #ff66b3; /* Color rosa pastel */
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
    }

    .boton:hover {
      background-color: #d633ff; /* Color morado vibrante */    }
  